n8n/tur-contact-form.json
{
    "name": "tur-contact-form",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "contact",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "webhook-contact",
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1.1,
            "position": [
                0,
                0
            ],
            "webhookId": "contact"
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ { \"success\": true, \"message\": \"Thank you for your message! We'll be in touch soon.\" } }}",
                "options": {}
            },
            "id": "respond-webhook",
            "name": "Respond to Webhook",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                800,
                0
            ]
        },
        {
            "parameters": {
                "jsCode": "// Format the message for Slack\n// n8n webhook puts JSON body in body property or directly in root\nconst rawData = $input.item.json;\nconst data = rawData.body || rawData;\n\nconst slackMessage = {\n  text: `📬 *New Contact Form Submission*\\n\\n` +\n        `*Name:* ${data.name || 'Not provided'}\\n` +\n        `*Email:* ${data.email || 'Not provided'}\\n` +\n        `*Subject:* ${data.subject || 'No subject'}\\n\\n` +\n        `*Message:*\\n${data.message || 'No message provided'}\\n\\n` +\n        `*Timestamp:* ${data.timestamp || new Date().toISOString()}\\n` +\n        `*Source:* ${data.source || 'Contact Form'}`,\n  blocks: [\n    {\n      type: 'header',\n      text: {\n        type: 'plain_text',\n        text: '📬 New Contact Form Submission'\n      }\n    },\n    {\n      type: 'section',\n      fields: [\n        {\n          type: 'mrkdwn',\n          text: `*Name:*\\n${data.name || 'Not provided'}`\n        },\n        {\n          type: 'mrkdwn',\n          text: `*Email:*\\n${data.email || 'Not provided'}`\n        }\n      ]\n    },\n    {\n      type: 'section',\n      fields: [\n        {\n          type: 'mrkdwn',\n          text: `*Subject:*\\n${data.subject || 'No subject'}`\n        }\n      ]\n    },\n    {\n      type: 'section',\n      text: {\n        type: 'mrkdwn',\n        text: `*Message:*\\n${data.message || 'No message provided'}`\n      }\n    },\n    {\n      type: 'context',\n      elements: [\n        {\n          type: 'mrkdwn',\n          text: `📅 ${data.timestamp || new Date().toISOString()} | 🔗 ${data.source || 'Contact Form'}`\n        }\n      ]\n    }\n  ]\n};\n\nreturn { json: slackMessage };"
            },
            "id": "format-slack",
            "name": "Format for Slack",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                400,
                0
            ]
        },
        {
            "parameters": {
                "authentication": "oAuth2",
                "select": "channel",
                "channelId": {
                    "__rl": true,
                    "value": "C07TJRLTM9C",
                    "mode": "list",
                    "cachedResultName": "all-tur-ab"
                },
                "text": "=={{ $json.text }}",
                "otherOptions": {
                    "blocks": "={{ $json.blocks }}"
                }
            },
            "id": "post-slack",
            "name": "Post to Slack",
            "type": "n8n-nodes-base.slack",
            "typeVersion": 2.1,
            "position": [
                600,
                0
            ],
            "webhookId": "contact-form-slack",
            "credentials": {
                "slackOAuth2Api": {
                    "id": "slack-oauth2",
                    "name": "Slack account"
                }
            }
        }
    ],
    "pinData": {},
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Format for Slack",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Format for Slack": {
            "main": [
                [
                    {
                        "node": "Post to Slack",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Post to Slack": {
            "main": [
                [
                    {
                        "node": "Respond to Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": true,
    "settings": {
        "executionOrder": "v1"
    },
    "versionId": "contact-form-v1",
    "meta": {
        "templateCredsSetupCompleted": true
    },
    "id": "tur-contact-form",
    "tags": []
}